---
import LayoutPorfolio from "@/layouts/LayoutPorfolio.astro";
import Menu from "@/components/porfolioSections/Menu.astro";
import Introduction from "@/components/porfolioSections/Introduction.astro";
import Experience from "@/components/porfolioSections/Experience.astro";
import Projects from "@/components/porfolioSections/Projects.astro";
import SobreMi from "@/components/porfolioSections/SobreMi.astro";
import Footer from "@/components/porfolioSections/Footer.astro";
---

<LayoutPorfolio title="Manuel Del Castillo Garzón - Front End Developer">
  <main class="">
    <Menu />
    <div class="max-w-[1200px] mx-auto pt-24">
      <Introduction />
      <Experience />
      <Projects />
      <SobreMi />
      <Footer />
    </div>
  </main>
</LayoutPorfolio>
