<div class={`flex items-center ${Astro.props.class}`} >
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[#4824a8]"
    ></span>
    <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-purple-800 bg-purple-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
      <slot />
    </div>
  </span>
  </div>