<div class={`flex items-center ${Astro.props.class}`} >
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    
    <div class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-purple-800 bg-purple-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap border-[#4824a8] border">
      <slot />
    </div>
  </span>
  </div>